<div fxLayout="column" fxLayoutAlign="start stretch" >
        <div fxLayout="row" fxLayoutAlign="center center" >
            <app-header></app-header>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="5%">
            </div>
            <div fxFlex="95%">
                <app-search-bar></app-search-bar>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="5%">
            </div>
            <div fxFlex="30%">
                <app-questions-list></app-questions-list>
            </div>
            <div fxFlex="5%">
            </div>
            <div fxFlex="60%">
                <app-question-info></app-question-info>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" >
            <app-footer></app-footer>
        </div>
</div>

    
